makefile.setup

gnat/

docs/_build

*.cgpr
b__*
*.bexch
*.a
*.d
gnatinspect.*
obj/
lib/
install/
*.stdout
*.stderr
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
setup.json
/gnat_src

*/docs/_build

examples/library/obj

out
/testsuite/prod
/testsuite/gcov
